<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Home</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <div class="col l1">
        <a href="#" class="brand-logo">
          <img src="../assets/images/logo-blanco.png" class="responsive-img logo" alt="logo">
        </a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="sass.html"></a>
        </li>
        <li>
          <a href="badges.html"></a>
        </li>
        <li>
          <a href="collapsible.html">
            <i class="far fa-user fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row center-align">
    <div class="col offset-l1 l10 s12 title center-align">
      <h1>Reserva de espacio publicitario</h1>
    </div>
  </div>
  <div class="row">
    <div class="col offset-l4 l4  offset-l4 s12">
      <select id="week" class="browser-default">
        <option value="" disabled selected>Semana</option>
        <option value="1">Semana del 26-02-2018 al 04-03-2018 </option>
        <option value="2">Semana del 05-03-2018 al 11-03-2018</option>
      </select>
    </div>
  </div>
  <div class="row center-align">
    <div class="col l1 s12 vh-200 center-align">
      <h5 class="div-day">Lunes</h5>
      <p class="click p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height valign-wrapper " id="america-deportes"><span>.</span>America Deportes</p>
      <p class="click p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height valign-wrapper " id="tn-privilegio-de-amar">El privilegio de amar</p>
      <p class="click p-height valign-wrapper " id="tn-marimar"><span>........</span> Marimar</p>
      <p class="click p-height valign-wrapper " id="amores-de-polo">Los Amores de Polo</p>
      <p class="click p-height valign-wrapper " id="an-edicion-mediodia">America Noticias: Edición an-edicion-mediodia</p>
      <p class="click p-height valign-wrapper " id="en-boca-de-todos"><span>..</span>En boca de todos</p>
      <p class="click p-height valign-wrapper " id="al-fondo-hay-sitio"><span>..</span>Al fondo hay sitio</p>
      <p class="click p-height valign-wrapper " id="tn-caer-en-tentacion"><span>..</span>Caer en tentación</p>
      <p class="click p-height valign-wrapper " id="la-rosa-de-guadalupe">La rosa de Guadalupe</p>
      <p class="click p-height valign-wrapper " id="cumbia-pop"><span>.....</span>Cumbia Pop</p>
      <p class="click p-height  valign-wrapper " id="esto-es-guerra"><span>....</span>Esto es guerra</p>
      <p class="click p-height valign-wrapper " id="vbq">VBQ:"Empezando a vivir"</p>
      <p class="click p-height valign-wrapper " id="tn-colorina"><span>........</span>Colorina</p>
      <p class="click p-height valign-wrapper " id="an-edicion-central">America Noticias: Edición central</p>
      <p class="click p-height valign-wrapper " id="la-banda-del-chino">La Banda del Chino</p>
    </div>
    <div class="col l1 s12 vh-200">
      <h5 class="div-day">Martes</h5>
      <p class="click p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height valign-wrapper " id="america-deportes"><span>.</span>America Deportes</p>
      <p class="click p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height valign-wrapper " id="tn-privilegio-de-amar">El privilegio de amar</p>
      <p class="click p-height valign-wrapper " id="tn-marimar"><span>........</span>Marimar</p>
      <p class="click p-height valign-wrapper " id="amores-de-polo">Los Amores de Polo</p>
      <p class="click p-height valign-wrapper " id="an-edicion-mediodia">America Noticias: Edición an-edicion-mediodia</p>
      <p class="click p-height valign-wrapper " id="en-boca-de-todos"><span>..</span>En boca de todos</p>
      <p class="click p-height valign-wrapper " id="al-fondo-hay-sitio"><span>..</span>Al fondo hay sitio</p>
      <p class="click p-height valign-wrapper " id="tn-caer-en-tentacion"><span>..</span>Caer en tentación</p>
      <p class="click p-height valign-wrapper " id="la-rosa-de-guadalupe">La rosa de Guadalupe</p>
      <p class="click p-height valign-wrapper " id="cumbia-pop"><span>.....</span>Cumbia Pop</p>
      <p class="click p-height valign-wrapper " id="esto-es-guerra"><span>....</span>Esto es guerra</p>
      <p class="click p-height valign-wrapper " id="vbq">VBQ:"Empezando a vivir"</p>
      <p class="click p-height valign-wrapper " id="tn-ojitos-hechiceros"><span>..</span>Ojitos hechiceros</p>
      <p class="click p-height valign-wrapper " id="an-edicion-central">America Noticias: Edición central</p>
      <p class="click p-height valign-wrapper " id="la-banda-del-chino">La Banda del Chino</p>
    </div>
    <div class="col l1 s12 vh-200">
      <h5 class="div-day">Miercoles</h5>
      <p class="click p-height-18 valign-wrapper  " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height-18 valign-wrapper  " id="america-deportes"><span>.</span>America Deportes</p>
      <p class="click p-height-18 valign-wrapper  " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click p-height-18 valign-wrapper  " id="tn-privilegio-de-amar">El privilegio de amar</p>
      <p class="click p-height-18 valign-wrapper  " id="tn-marimar"><span>........</span>Marimar</p>
      <p class="click p-height-18 valign-wrapper  " id="amores-de-polo">Los Amores de Polo</p>
      <p class="click p-height-18 valign-wrapper  " id="an-edicion-mediodia">America Noticias: Edición an-edicion-mediodia</p>
      <p class="click p-height-18 valign-wrapper  " id="en-boca-de-todos"><span>..</span>En boca de todos</p>
      <p class="click p-height-18 valign-wrapper  " id="antesala"><span>........</span>Antesala</p>
      <P class="click p-height-18 valign-wrapper  " id="Sevilla VS Manchester United">Sevilla VS Manchester United </P>
      <p class="click p-height-18 valign-wrapper  " id="al-fondo-hay-sitio-2"><span>..</span>Al fondo hay sitio</p>
      <p class="click p-height-18 valign-wrapper  " id="la-rosa-de-guadalupe-2">La rosa de Guadalupe</p>
      <p class="click p-height-18 valign-wrapper  " id="cumbia-pop"><span>.....</span>Cumbia Pop</p>
      <p class="click p-height-18 valign-wrapper  " id="esto-es-guerra"><span>....</span>Esto es guerra</p>
      <p class="click p-height-18 valign-wrapper  " id="vbq">VBQ:"Empezando a vivir"</p>
      <p class="click p-height-18 valign-wrapper  " id="tn-ojitos-hechiceros"><span>..</span>Ojitos hechiceros</p>
      <p class="click p-height-18 valign-wrapper  " id="an-edicion-central">America Noticias: Edición central</p>
      <p class="click p-height-18 valign-wrapper  " id="la-banda-del-chino">La Banda del Chino</p>
    </div>
    <div class="col l1 s12 vh-200">
      <h5 class="div-day">Jueves</h5>
      <p class="click  p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click  p-height valign-wrapper " id="america-deportes"><span>.</span>America Deportes</p>
      <p class="click  p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click  p-height valign-wrapper " id="tn-privilegio-de-amar">El privilegio de amar</p>
      <p class="click  p-height valign-wrapper " id="tn-marimar"><span>........</span>Marimar</p>
      <p class="click  p-height valign-wrapper " id="amores-de-polo">Los Amores de Polo</p>
      <p class="click  p-height valign-wrapper " id="an-edicion-mediodia">America Noticias: Edición an-edicion-mediodia</p>
      <p class="click  p-height valign-wrapper " id="en-boca-de-todos"><span>..</span>En boca de todos</p>
      <p class="click  p-height valign-wrapper " id="al-fondo-hay-sitio"><span>..</span>Al fondo hay sitio</p>
      <p class="click  p-height valign-wrapper " id="tn-caer-en-tentacion"><span>..</span>Caer en tentación</p>
      <p class="click  p-height valign-wrapper " id="la-rosa-de-guadalupe">La rosa de Guadalupe</p>
      <p class="click  p-height valign-wrapper " id="cumbia-pop"><span>.....</span>Cumbia Pop</p>
      <p class="click  p-height valign-wrapper " id="esto-es-guerra"><span>....</span>Esto es guerra</p>
      <p class="click  p-height valign-wrapper " id="vbq">VBQ:"Empezando a vivir"</p>
      <p class="click  p-height valign-wrapper " id="tn-ojitos-hechiceros"><span>..</span>Ojitos hechiceros</p>
      <p class="click  p-height valign-wrapper " id="an-edicion-central">America Noticias: Edición central</p>
      <p class="click  p-height valign-wrapper " id="la-banda-del-chino">La Banda del Chino</p>
    </div>
    <div class="col l1 s12 vh-200">
      <h5 class="div-day">Viernes</h5>
      <p class="click  p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click  p-height valign-wrapper " id="america-deportes"><span>.</span>America Deportes</p>
      <p class="click  p-height valign-wrapper " id="an-primera-edicion">America Noticias: Edicion Local</p>
      <p class="click  p-height valign-wrapper " id="tn-privilegio-de-amar">El privilegio de amar</p>
      <p class="click  p-height valign-wrapper " id="tn-marimar"><span>........</span>Marimar</p>
      <p class="click  p-height valign-wrapper " id="amores-de-polo">Los Amores de Polo</p>
      <p class="click  p-height valign-wrapper " id="an-edicion-mediodia">America Noticias: Edición an-edicion-mediodia</p>
      <p class="click  p-height valign-wrapper " id="en-boca-de-todos"><span>..</span>En boca de todos</p>
      <p class="click  p-height valign-wrapper " id="al-fondo-hay-sitio"><span>..</span>Al fondo hay sitio</p>
      <p class="click  p-height valign-wrapper " id="tn-caer-en-tentacion"><span>..</span>Caer en tentación</p>
      <p class="click  p-height valign-wrapper " id="la-rosa-de-guadalupe">La rosa de Guadalupe</p>
      <p class="click  p-height valign-wrapper " id="cumbia-pop"><span>.....</span>Cumbia Pop</p>
      <p class="click  p-height valign-wrapper " id="esto-es-guerra"><span>....</span>Esto es guerra</p>
      <p class="click  p-height valign-wrapper " id="vbq">VBQ:"Empezando a vivir"</p>
      <p class="click  p-height valign-wrapper " id="tn-ojitos-hechiceros"><span>..</span>Ojitos hechiceros</p>
      <p class="click  p-height valign-wrapper " id="an-edicion-central">America Noticias: Edición central</p>
      <p class="click  p-height valign-wrapper " id="la-banda-del-chino"><span>....</span>Estas en todas</p>
    </div>
    <div class="col l1 s12 vh-200">
      <h5 class="div-day">Sábado</h5>
      <p class="click p-height-14 valign-wrapper " id="an-espetaculos">America espectaculos (repetición)</p>
      <p class="click p-height-14 valign-wrapper " id="an-matutino">America Noticias: Matutino</p>
      <p class="click p-height-14 valign-wrapper " id="an-edicion-sabado">America Noticias: Edición del sábado</p>
      <p class="click p-height-14 valign-wrapper " id="estas-en-todas"><span>....</span>Estas en todas</p>
      <p class="click p-height-14 valign-wrapper " id="cinescape"><span>.......</span>Cinescape</p>
      <p class="click p-height-14 valign-wrapper " id="el-chavo-del-ocho"><span>...</span>Chavo del ocho</p>
      <p class="click p-height-14 valign-wrapper " id="serie-solamente-milagros">Solamente Milagros</p>
      <p class="click p-height-14 valign-wrapper " id="butaca-sabado">Mi papá y nuestro mundo fantástico</p>
      <p class="click p-height-14 valign-wrapper " id="el-chavo-del-ocho-2"><span>...</span>Chavo del ocho</p>
      <p class="click p-height-14 valign-wrapper " id="la-rosa-de-guadalupe-3">La rosa de Guadalupe</p>
      <p class="click p-height-14 valign-wrapper " id="la-previa"><span>........</span>La previa</p>
      <p class="click p-height-14 valign-wrapper " id="reventonazo-de-la-chola">Reventonazo de la Chola</p>
      <p class="click p-height-14 valign-wrapper " id="gisela-busca-el-amor">Gisela: Busca el amor</p>
      <p class="click p-height-14 valign-wrapper " id="mujeres-sin-filtro"><span>...</span>Mujeres sin filtro</p>
    </div>
    <div class="col l1 s12 vh-200 center-align">
      <h5 class="div-day">Domingo</h5>
      <p class="click p-height-11 valign-wrapper " id="automundo"><span>......</span>Automundo</p>
      <p class="click p-height-11 valign-wrapper " id="estas-en-todas-2">Estas en todas (repetición)</p>
      <p class="click p-height-11 valign-wrapper " id="an-edicion-dominical">America Noticias: Dominical</p>
      <p class="click p-height-11 valign-wrapper " id="domingo-al-dia"><span>....</span>Domingo al día</p>
      <p class="click p-height-11 valign-wrapper " id="tec"><span>............</span>TEC</p>
      <p class="click p-height-11 valign-wrapper " id="el-chavo-del-ocho-3"><span>...</span>Chavo del ocho</p>
      <p class="click p-height-11 valign-wrapper " id="butaca-matine"><span>........</span>Hercules</p>
      <p class="click p-height-11 valign-wrapper " id="butaca-domingo"><span>.....</span>Batalla Naval</p>
      <p class="click p-height-11 valign-wrapper " id="la-rosa-de-guadalupe-4">La rosa de Guadalupe</p>
      <p class="click p-height-11 valign-wrapper " id="cuarto-poder"><span>.....</span>Cuarto Poder</p>
      <p class="click p-height-11 valign-wrapper " id="futbol-en-america"><span>.</span>Futbol en America</p>
    </div>
    <div class="col l1 s12">
      <p>Hola</p>
    </div>
  </div>

  <script src="../vendors/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/reserve.js"></script>
</body>

</html>